.ranking-bg {
    background: url("../assets/img/ic_ranking_bg.png") center center / cover no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    overflow: hidden;
}

.glassContainer {
    position: absolute;
    top: 2rem;
    left: 2rem;
    bottom: 2rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 1.5rem;
    overflow: hidden;
}


.glassContainer::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    overflow: hidden;
    border-radius: 20px;
    -webkit-box-shadow: inset 2px 2px 0px -2px rgba(255, 255, 255, 0.7), inset 0 0 3px 1px rgba(255, 255, 255, 0.7);
    box-shadow: inset 2px 2px 0px -2px rgba(255, 255, 255, 0.7), inset 0 0 3px 1px rgba(255, 255, 255, 0.7);
}

.glassContainer::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: 20px;
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
    -webkit-filter: url(#container-glass);
    filter: url(#container-glass);
    overflow: hidden;
    isolation: isolate;
}

.card-body,
.container,
.row,
.col-12 {
    background: transparent !important;
}

.card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.scroll-container {
    flex: 1;
    overflow-y: auto;
    padding-bottom: 4rem;
    cursor: default;
}

.scroll-container::-webkit-scrollbar {
    width: 6px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
}
.scroll-container:active {
    cursor: default; /* remove grabbing cursor entirely */
}



@media (max-width: 768px) {
    .glassContainer {
        width: 90%;
        padding: 1rem;
        top: 1rem;
        left: 1rem;
        bottom: 1rem;
    }
}