.ranking-bg {
    background: url("../assets/img/ic_ranking_bg.png") center center / cover no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    overflow: hidden;
}

.glassContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    width: 400px;
    padding: 2rem;
    overflow: hidden;
    transition: height 0.4s ease-in-out;
}


.glassContainer::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    overflow: hidden;
    border-radius: 20px;
    -webkit-box-shadow: inset 2px 2px 0px -2px rgba(255, 255, 255, 0.7), inset 0 0 3px 1px rgba(255, 255, 255, 0.7);
    box-shadow: inset 2px 2px 0px -2px rgba(255, 255, 255, 0.7), inset 0 0 3px 1px rgba(255, 255, 255, 0.7);
}

.glassContainer::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: 20px;
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
    -webkit-filter: url(#container-glass);
    filter: url(#container-glass);
    overflow: hidden;
    isolation: isolate;
}

.card-body,
.container,
.row,
.col-12 {
    background: transparent !important;
}

.scroll-container {
    max-height: 400px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
    cursor: grab;
  }

  .scroll-container::-webkit-scrollbar {
    width: 6px;
  }

  .scroll-container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
  }

  .scroll-container:active {
    cursor: grabbing;
  }
