[data-bs-theme="dark"] main {
    background-color: #18191A !important;
}

[data-bs-theme="light"] main {
    background-color: #EDEFF3 !important;
}


.gradient-overlay {
    background: linear-gradient(0deg, rgba(217, 217, 217, 0.00) 0%, rgba(0, 0, 0, 0.84) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}



[data-bs-theme="dark"] footer {
    background-color: #242526 !important;
}

[data-bs-theme="light"] footer {
    background-color: #4B4B4B !important;
}


.navbar-text {
    color: #DF876E;
} 


[data-bs-theme="dark"] .nav-link {
    color: #fff !important;
}

.nav-link.active {
  color: #DF876E !important;
  font-weight: bold;
}

.dropdown-menu .active {
  color: #DF876E !important;
  text-decoration: underline;
}

.nav-link:hover {
    color: #DF876E !important;
}

.nav-link:focus {
    color: #DF876E;
}

[data-bs-theme="dark"] .nav-link.dropdown-toggle {
    color: #fff !important;
    font-weight: 600;
}

.nav-link.dropdown-toggle:hover {
  color: #DF876E !important; /* bright orange */
  font-weight: 600;
}

.nav-link.dropdown-toggle:focus {
  color: #DF876E; /* bright orange */
  font-weight: 600;
}

[data-bs-theme="dark"] .full-width-dropdown {
    background-color: #242526;
}


/* Show dropdown on hover */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

/* Position dropdown menu at the start of the screen */
.full-width-dropdown {
  left: 0 !important;
  right: 0;
  width: 100vw;
  transform: translateY(-20px);
  transition: opacity 400ms ease, transform 400ms ease;
  position: absolute;
  top: 100%; /* dropdown appears below navbar */
  z-index: 1050;
  border-radius: 0;
}

.dropdown-menu.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  visibility: visible;
  display: block !important;
}

[data-bs-theme="light"] .dropdown-menu a {
    color: #333 !important;
    font-weight: 600;
}

[data-bs-theme="dark"] .dropdown-menu a {
    color: #fff !important;
    font-weight: 600;
}

.dropdown-menu a:hover {
    color: #DF876E !important;
}


/* Prevent accidental close */
.nav-item.dropdown {
  position: relative;
}

/* Light theme */
[data-bs-theme="light"] .theme-account-btn {
    color: #272727; /* dark icon for light background */
}

[data-bs-theme="light"] .app-container {
    background-color: #ffffff !important;
}

/* Dark theme */
[data-bs-theme="dark"] .theme-account-btn {
    color: #ffffff; 
}

[data-bs-theme="dark"] .app-container {
    background-color: #242526 !important;
}

